.navbar {
    padding:17px;
  
}
.navbar .input-search{
    height: 50px;
    width: 300px;
}
.navbar .navbar-brand{
    margin-right: 30px;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 1px;
    color: crimson;
}
.navbar .nav-item {
    font-size: 14px;
  }
.navbar .btn-search:hover  {
   background-color: transparent;
    border-color: crimson;
    color:crimson;
}
.dropdown-item {
    font-size: 14px;
  }
  .dropdown-item:active, .dropdown-item:focus {
    background-color: crimson;
  }
  
.navbar a:hover {
    color:crimson;
}