.upper-section img{
    width: 100%;
}
.upper-section { 
    margin-bottom: 30px;
}
.details-section {
    color:#484848;
}
.details-section .rental-type{
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin:0;   
    
}
.details-section .rental-title{
    font-size: 32px;
    font-weight: 700;
    
    margin-bottom:5px; 
}
.details-section .rental-city{
    font-size: 14px;
    font-weight: 300;
    
    margin-bottom:20px;  
}
.details-section .rental-room-info {
    margin-bottom:20px;
    font-weight: 300;
    font-size: 16px;
}
.details-section .rental-room-info span{
    margin-right:10px;
}
.details-section .rental-room-info i{
    margin-right:3px;
}
.details-section .rental-description {
    font-weight: 300;
    margin-bottom: 30px;
}
.details-section .rental-assets .title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
}
.details-section .rental-assets span {
    display: block;
    margin-bottom: 15px;
    font-weight: 400;
}
